* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detail {
  background-color: lightblue;
  border: 2px solid lightskyblue;
  border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
  padding: 0 1rem;
}

.add {
  border: 4px solid greenyellow;
  border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
  padding: 0 1rem;
}
